/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

div[appAnimateOnVisible] {
  transition: width 1s ease-out;
}


/* Scroll animation */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
}

.animate-on-scroll.show {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
